body {
  width:60%;
  margin-left: auto;
  margin-right: auto;
  background-color:white;
  color:navy;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

td {
  background-color:#fafafa;
  font-weight: bold;
  color:navy;
  size: 20px;
  border:2px solid navy; 
  padding:10px;
}
