body {
  width:60%;
  margin-left: auto;
  margin-right: auto;
  background-color:grey;
  font-color:navy;
}

h1 {
  margin-left: auto;
  margin-right: auto;
}

td {
  background-color:white;
  font-color:navy;
  border:2px solid navy; 
  padding:10px;
}
